parameters:
    ignoreErrors:
        # Most QueuedJobs don't call the parent::__construct() method
        - '#does not call parent constructor from AbstractQueuedJob#'
        # SS_List is basically ArrayList and DataList. Consider filter/sort/etc supported.
        - '#Call to an undefined method SS_List::#'
        # Ignore legacy class name
        - '#Call to method (\w+)\(\) on an unknown class SS_Datetime#'
        # Ignore display logic. Review why is failing as this is new issue
        - '#Call to an undefined method UncleCheese\\DisplayLogic\\Criteria::isEqualTo#'
    polluteCatchScopeWithTryAssignments: true
    reportUnmatchedIgnoredErrors: false
includes:
    - vendor/symbiote/silverstripe-phpstan/phpstan.neon
